# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.hackathon2022.iml
# Datasource local storage ignored files
/../../../../../../:\gitHub\hackathon2022\.idea\.idea.hackathon2022\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
